@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

table {
    width: 70%;
    border-collapse: collapse;
  }
table, td, tr {
    border: 1px solid black;
    text-align: center;
  }
  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 4px 8px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }